@keyframes slideUp {
	0% {
		transform: translateY(0);
		opacity: 1;
		display: inline-block;
	}
	99% {
		transform: translateY(-99%);
		opacity: 0.01;
		display: none;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
		display: none;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes shrinkLeft {
	0% { transform: scale(1) translate(0); }
  99% { transform: scale(1) translate(0, -100%); }
	100% { transform: scale(0.5) translate(50%, -100%); }
}

@keyframes shrinkRight {
	0% { transform: scale(1) translate(0); }
  99% { transform: scale(1) translate(0, -100%); }
	100% { transform: scale(0.5) translate(-50%, -100%); }
}

@keyframes expandLeft {
	0% { transform: scale(0.5) translate(50%, -100%); }
	100% { transform: scale(1) translate(0); }
}

@keyframes expandRight {
	0% { transform: scale(0.5) translate(-50%, -100%); }
	100% { transform: scale(1) translate(0); }
}

@keyframes shrinkBar {
	0% { height: 150px; }
	100% { height: 60px; }
}

@keyframes expandBar {
	0% { height: 60px; }
	100% { height: 150px; }
}

@keyframes moveLeft {
	0% { transform: translateX(0); }
	100% { transform: translateX(0); }
}

@keyframes moveRight {
	0% { transform: translateX(-40px); }
	100% { transform: translateX(0); }
}

.header {
	left: 30px;

	& > div {
		height: 60px;
	}

	a {
		display: block;
		border: none;
	}

	.logo {
		transform: translateX(0);

		&__text {
			transform: translateY(-100%);
			opacity: 0;
		}

		&__image--c {
			transform: scale(0.5) translate(-50%, -100%);
		}

		&__image--b {
			transform: scale(0.5) translate(50%, -100%);
		}
	}

	&--unscrolled {
		background-color: transparent;

		& > div {
			animation: expandBar 0.2s both;
		}

		.logo {
			&__wrapper {
				transform: translateX(0);
				animation: moveRight 0.2s linear both 0.2s;
			}
			&__text { animation: slideDown 0.3s both 0.3s; }
			&__image--c { animation: expandRight 0.2s both; }
      &__image--b { animation: expandLeft 0.2s both; }
		}
	}

	&--scrolled {
		// background-color: rgba(255, 255, 255, .9);
		// box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
		
		& > div {
			animation: shrinkBar 0.2s both 0.4s;
		}

		.logo {
			&__wrapper { animation: moveLeft 0.2s linear both 0.2s; }
			&__vertical-line { animation: slideUp 0.4s both; }
			&__text { animation: slideUp 0.3s both; }
			&__image--c { animation: shrinkRight 0.2s both 0.4s; }
			&__image--b { animation: shrinkLeft 0.2s both 0.4s; }
		}
	}
	
	@media screen and (min-width: 1181px) {
		left: calc(50% - 560px);
	}
	
	@media screen and (min-width: 1681px) {
		left: calc(50% - 640px);
	}
}


@media only screen and (max-width: 979px) {
	.header {
		display: none !important;
	}
}
